<div class="container">
  <h1>Update Cleaning Type</h1>
  <hr />
  <div class="mt-5 d-flex justify-content-center">
    <div style="width: 400px">
      <form *ngIf="cleaningTypeDetails" #cleaningTypeForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
          <label for="cleaningName">Cleaning Type Name</label>
          <input
            required
            type="text"
            name="cleaningName"
            class="form-control"
            placeholder="Enter new cleaning type name here"
            [(ngModel)]="cleaningTypeDetails.cleaningName"
            ngModel
          />
          <br />
          <hr />
          <div class="buttons">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!cleaningTypeForm.valid"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              routerLink="/cleaning-type/list"
            >
              Back to List
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
