<div class="container">
  <h1>Create New Window Type</h1>
  <hr />
  <div class="mt-5 d-flex justify-content-center">
    <div style="width: 400px">
      <form #windowTypeForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
          <label for="windowType">Window Type Name</label>
          <input
            required
            type="text"
            name="windowType"
            class="form-control"
            placeholder="Enter window type name here"
            ngModel
          />
        </div>
        <br />
        <div *ngIf="response !== ''" class="image-wrapper">
          <img [src]="createImgPath(response.dbPath)" />
        </div>

        <app-image-upload
          (onUploadFinished)="uploadFinished($event)"
        ></app-image-upload>

        <div class="buttons">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!windowTypeForm.valid"
          >
            Create
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/window-type/list"
          >
            Back to List
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
